body {
  padding: 0 !important;
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  text-rendering: optimizeLegibility
}

.selected {
  color: coral;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space {
  flex: 1;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.m0 {
  margin: 0;
}

.p0 {
  margin: 0;
}

.full-size {
  height: 100%;
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}