.duokan-image-single img {
  // position: relative;
  margin: 5px 0;
  z-index: 3;
  cursor: pointer;
  box-shadow: black 0 0 3px;
  border: 1px solid white;
}
p,
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
body {
  // position: relative;
  color: var(--color);
  padding-top: var(--read-padding) !important;
}
