.duokan-image-single img {
  // position: relative;
  margin: 5px 0;
  z-index: 3;
}
p,
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
body {
  // position: relative;
  color: var(--color);
  padding-top: var(--read-padding) !important;
}